<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | ECommerce</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
</head>
<body class="w-screen h-screen flex flex-col gap-4 font-mono items-center bg-gray-400">
    <nav class="w-full p-3 shadow-md flex items-center bg-slate-50">
        <h1 class="text-xl lg:text-2xl font-semibold">
            <a href="#">MyCommerce</a>
            <i class="ri-shopping-cart-fill text-xl lg:text-2xl"></i>
        </h1>
        <i class="ri-flashlight-fill ml-auto text-2xl lg:text-3xl text-yellow-400 rotate-12"></i>
    </nav>
    <main class="flex-1 flex flex-col gap-4 relative">
        <% if(error && error.length>0) { %>
            <div id="error" class="absolute top-0 left-1/2 -translate-x-1/2 -translate-y-4 bg-red-600 text-white p-3 whitespace-nowrap rounded-lg font-light">
                <%= error %>
            </div>
        <% } %>
        <h1 class="text-3xl lg:text-4xl font-semibold uppercase mt-32 mb-8">Login to Shop</h1>
        <form action="/users/login" method="POST" class="flex flex-col gap-4 w-[90vw] max-w-[400px]">
            <input class="px-4 py-2 rounded-lg border-2 border-zinc-400 outline-none focus:border-zinc-800" type="text" name="email" placeholder="Email" required value=<%= email %>>
            <input class="px-4 py-2 rounded-lg border-2 border-zinc-400 outline-none focus:border-zinc-800" type="password" name="password" placeholder="Password" required>
            <button class="bg-blue-500 text-white px-6 py-2 rounded-full w-max mx-auto" type="submit">Login</button>
        </form>
        <p class="text-center">New to Our Site? <a class="italic underline" href="/users/signup">Register Now</a></p>
    </main>
</body>
</html>