<nav class="w-full p-3 shadow-md flex items-center bg-slate-50">
    <h1 class="text-xl lg:text-2xl font-semibold">
        <a href="#">MyCommerce</a>
        <i class="ri-shopping-cart-fill text-xl lg:text-2xl"></i>
    </h1>
    <i class="ri-flashlight-fill ml-auto text-2xl lg:text-3xl text-yellow-400 rotate-12"></i>
</nav>